body {
    background-image: url("../assets/imgs/AirEdge270.png");
    background-color: #f5f5f5;
    background-position: center;
    padding-bottom: 170px;
    background-repeat: no-repeat;
    background-size: contain;
}