header {
    display: flex;
    align-items: center;
    justify-content: space-around
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    font-family: "Trade Gothic";
    display: flex;
    margin: 50px 20px;
    color: #131212;
    text-decoration: none;
}

.bag-profile-user {
    align-items: center;
    display: flex;
    width: 110px;
    height: 46px;
    justify-content: space-between
}

.bag-profile-user .profile-user {
    width: 36px;
    height: 36px;
}

.bag-profile-user .bag-user {
    width: 44px;
    height: 62px;
}