main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Trade Gothic";
}

.content-text .text-introduce h4 {
    font-size: 20px;
    color: #131212;
}

.content-text .text-introduce h2 {
    font-size: 72px;
    color: #131212;
}

.content-text .text-introduce span {
    font-size: 20px;
    color: #131212;
    opacity: 50%;
    min-width: 488px;
    min-height: 60px;
}

main {
    background-image: url("../assets/imgs/AirEdge270.png");
    padding-bottom: 400px;
    background-repeat: no-repeat;
}

.size-buttons {
    max-width: 320px;
    min-height: 168px;
}

.size-buttons a {
    text-decoration: none;
    margin: 20px;
    gap: 30px
}

.view-control {
    width: 1050px;
}