main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Trade Gothic";
}

.content-text .text-introduce h4 {
    font-size: 20px;
    color: #131212;
}

.content-text .text-introduce h2 {
    font-size: 72px;
    color: #131212;
}

.content-text .text-introduce .span-text {
    font-size: 20px;
    color: #131212;
    opacity: 50%;
    width: 380px;
    height: 60px;
}

.size-buttons {
    max-width: 320px;
    min-height: 168px;
}

.size-buttons a {
    text-decoration: none;
    margin: 20px;
    gap: 30px
}